################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson_07_09/.vs/Lesson_07_09
/Lesson_07_09/Lesson_07_09/bin/Debug/net8.0
/Lesson_07_09/Lesson_07_09/obj
/Lesson_07_09/Lesson_07_09 Ex2/obj
/Lesson_07_09/Lesson_07_09 Ex2/bin/Debug/net8.0
/Lesson_07_09/Lesson_07_09 Ex3/obj
/Lesson_07_09/Lesson_07_09 Ex3/bin/Debug/net8.0
